@charset "UTF-8";


*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #E6E6E6;
    font-size: 1em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
}

/*CABEÇALHO -- GERAL*/
header {

    background-color: #FFC400;
    color: black;
    text-align: center;
    padding: 15px;
    font-size: 2.0em;
}

.branco{

    color:white;

}
/*LINKS DO MENU -- GERAL*/
nav{ 

    text-align: center;
    background-color: #FFC400;
    padding-bottom: 20px;

}

nav a{
    color: white;
    padding-right: 20px;
    text-decoration: none;
    
}

nav>a:hover{

    background-color: white;
    color: #FFC400;
    padding: 7px ; /*isso aqui serve para fins esteticos e deixar que o sobre por branco, ou a cor que eu escolher fique mais afastada do link*/
}

nav> a:visited {

    color: black;
}



/*CONTEUDO PRINCIPAL DO MEU SITE*/

main{

    width: 920px;
	margin: 0 auto;
	padding: 15px;

}


main a {
    color: #FFC400;
}



article {

    background-color: white;
    width: 660px;
    float: left;  
    
}


#area-lateral {
    width: 240px;
    float: right;
    
   
}

.conteudo-lateral{
    background-color: white;
    padding: 10px;
    margin-bottom: 20px;
}

.postagem-lateral {

    font-size: 0.8em;
    padding: 5px;
   

}

h3{
    background-color:#FFC400;
    color: white;
}


.texto-jogo{

   margin-left: 120px;
   padding: 10px;
}

table{

    margin: 0 auto;
    background-color: white;
    
}

.titulo-tabela{

    padding: 3px;
    background-color: #FFC400;
}



/*FOOTER*/
footer{

    clear: both;
    text-align: center;
    background-color: rgb(146, 140, 140);
    padding: 15px;
   
}

